@{
    ViewBag.Title = "Magicodes.ECharts";
}

<div class="row">
    <div class="col-md-6">
        <h2>Demo1</h2>
        <div data-bind='component:{name: "echart",params: { ajaxUrl: "/ChartDemo/Demo1" ,theme:"macarons"}}' style="height: 280px; width: 100%"></div>
    </div>
    <div class="col-md-6">
        <h2>Demo2</h2>
        <div data-bind='component:{name: "echart",params: { ajaxUrl: "/ChartDemo/Demo2" ,theme:"macarons"}}' style="height: 280px; width: 100%"></div>
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
            ko.applyBindings({});
        });
    </script>
}